$btnbgsuccess:green;
$btnbgdanger:red;
$bgbgwaring:orange;
$btnbginfor:lightblue;
$btnbgprimary:rgb(96, 96, 230);



$btnfgcolor:white;
$btnfgcolor:black;
$btnfggold:gold;

$btnlgfontsize:18px;
$btnmdfontsize:16px;
$btnsmfontsize:12px;

$cornerradius:5px;